// ----------------------------------------------------------------------

  // Sale Badge 

// ----------------------------------------------------------------------

////
/// @author Chad Agate
/// @group NamasteTechnologies
////

/// Create circle badge
///
/// @example scss - Basic Usage Sass
///     div {
///         @include badge(white, yellow);   
///     }
///
@mixin badge($color, $background) {
    text-align: center;
    padding-top: 11px;
    line-height: 15px;
    height: 85px;
    width: 85px;
    font-size: 10px; 
    float:left;
    margin:0 20px;
    font-weight: bold;
    @include rounded-corners(50%);
    background:$background;
    color: $color;
    box-shadow: 0 0 0 1px $color inset;
    border: 2px solid $background;
}