/*============================================================================
#Top info bar + cookie bar info styling
==============================================================================*/

.notification-bar {
	display: none;
	text-align: center;
	padding: 6px 0;
	z-index: 2;

  &--freeship {
    display: none;
    background: $colorPrimary;
    font-size: .8em;
    color: $colorWhite;
    font-weight: initial;
    padding: 10px 0;
    @include mdc-elevation(2)

    h2 {
      margin-bottom: 0;
      line-height: 1.5;
      font-size: 1.1em;
    }
  }

  &--cookie {
    position: fixed;
    bottom: 0;
    left: 0 ;
    right: 0;
    background: $colorPrimary;
    color: $colorWhite;
    font-size: .8em;
    box-shadow: 0px 17px 10px 18px rgba(0,0,0,0.64);
  }

	&__info {
		width: 90%;
		margin: 0 auto;
    padding: 0 10px;

    &--ship {
      font-weight: 400;
      letter-spacing: .03em;
    }

    &--value {
      font-weight: 800;
    }
	}

  &__value {
    font-weight: 800;
  }

  &__link {
    top: 10px;
    left: 2%;

    &--cookie {
      color: $colorWhite;
      text-decoration: underline;

      &:hover,
      &:focus,
      &:active,
      &:visited {
        color: $colorWhite;
      }
    }
  }

  &__close {
    transition: all 1s ease-in-out;
    padding: 0.5em 0.5em;
    background-color: initial;

    &--cookie {
			background:inherit;
      position: absolute;
      right: 2%;
      top: 10px;
			&:hover {
				background:inherit;
			}

      top: 0;
      font-size: 2em;

      &:hover,
      &:focus,
      &:active,
      &:visited {
        background-color: initial;
        color: $colorWhite;
        outline-style: none;
      }
    }

    &--ship {
      background-color: $colorPrimary;
      color: white;
      display: none; //Hide close button for ship bar in cart drawer

      &:hover,
      &:focus,
      &:active,
      &:visited {
        background-color: $colorPrimary;
        color: white;
      }
    }
  }
}

//Remove margin bottom from .top-info-bar and wrap elements in cart-notification

.top-info-bar {
  margin-bottom: 0;
}

.cart-notification {
  margin-bottom: 20px;
}
