/*============================================================================
  #Product List (Single Item in Product List)
==============================================================================*/

.product-list {

  &__single-item {
    @include clearfix();
    margin-top: 20px;
    background-color: $colorTile;
    padding: 10px;
    position: relative;
    clear: left;
    @include mdc-elevation(2);
  }

  &__image {
    @include span-columns(9 of 9)

    @include media($tablet) {
      @include span-columns (2.5 of 9)
    }

    img {
      margin: 0 auto;
      display: block;
    }
  }

  &__info {
    @include span-columns(9 of 9)
    text-align: center;

    @include media($tablet){
      @include span-columns(6.5 of 9)
      text-align: left;
      padding-right: 15%;
    }

    &--title {
      text-transform: uppercase;
      font-size: 1.2em;
      margin-top: 2%;
      font-weight: 800;
    }

    &--desc {

    }
  }
}
